<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{settings['app-name']}} Authentication Request</title>
    <link href="{{ url_for('static',filename='css/text.css') }}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body onload="getstatusdata()">
    <script>
        setInterval(getstatusdata, 1000);

        async function getstatusdata() {
            const response = await fetch("/statusdata");
            const statusdata = await response.json();
            var idtoupdate = document.getElementById('cpu-status');
            idtoupdate.innerHTML = statusdata.cputemperature;
        }
    </script>
    <section class="banner">
        <div>
            <p class="logo">{{settings['app-name']}} - Authentication &nbsp CPU <strong id="cpu-status">awaiting-data</strong>&deg;C</p>
            <p class="breadcrumbtext">
                <a href="/" class="breadcrumblink">Return to index</a> &nbsp|&nbsp
                <a href="/pylog" class="breadcrumblink">Application Log</a> &nbsp|&nbsp
                <a href="/guaccesslog" class="breadcrumblink">Website Access Log</a> &nbsp|&nbsp
                <a href="/guerrorlog" class="breadcrumblink">Website Error Log</a> &nbsp|&nbsp
                <a href="/syslog" class="breadcrumblink">System Log</a> &nbsp|&nbsp
                <a href="/config" class="breadcrumblink">System Config</a>
            </p><br>
        </div>
    </section>
    <section class="container2">
        <p class="sectiontext">Authentication Required</p>
        <p class="bodytext">Please enter the raspberry pi linux account in order to access the configuration page<br>&nbsp;</p>
        <form method="post" action="">
        <table>
            <tr class="tabledataleft">
                <td class="tabledataleft">Username</td>
                <td class="tabledataleft"><input class="gentext" type="text" name="username" value="{{username}}"></td>
            </tr>
            <tr class="tabledataleft">
                <td class="tabledataleft">Password</td>
                <td class="tabledataleft"><input class="gentext" type="password" name="password" value=""> {%if loginfailed %}<span class="redtext">invalid password, please try again</span>{% endif %}</td>
            </tr>
            <tr class="tabledataleft">
                <td class="tabledataleft">&nbsp;</td>
                <td class="tabledataleft"><input class="gentext" type="submit" name="submit" value="Login"></td>
            </tr>
        </table>
        </form>
    <p>&nbsp;</p>
    </section>
    <section class="banner">
        <div class="copyright"><strong>Software Version</strong> {{version}}<br>&copy;{{year}} - <strong>TS Technologies</strong></div>
    </section>
</>
</html>